<div class="container d-block mx-auto justify-content-md-center", id = "pinteresting">
  <table >
  <thead>
    <tr>
      <th>Title</th>
      <th>Pin</th.>
      <th>Description</th>
      <th>Buy</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @pin.title %></td>
      <td><%= image_tag @pin.image.url(:medium) %></td>
        <td><%= @pin.description %></td>
        <td><%= link_to "Buy Now #{@pin.price}", braintree_new_path(@pin) %> </td>
          </tr>

  </tbody>
</table>
</div>
