<div class="pins container_pins transitions-enabled" id="pins">

<% if @pins.present? == false %>
<h1>Click on <strong>New Pin</strong> at the top right to share your ideas and see them listed here!</h1>
<% else %>


  <%= render @pins %>
  </div>
  <% end %>
